/*------------------------------------------------------------------------------------


 =============================================================================
 Filename: _fonts.scss
 =============================================================================

 ----------------------------------------------------------------------------------*/
        
/* Google Font -  */
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Playfair+Display:wght@700&display=swap');


/* Default Font
--------------- */
@mixin primary-font{
    font-family: 'Hind Vadodara', sans-serif;
}
@mixin secondary-font{
    font-family: 'Playfair Display', serif;
}

