/*------------------------------------------------------------------------------------

 =============================================================================
 Filename: _faq.scss
 =============================================================================

 Styles should be compiled using gulp task management.
 ----------------------------------------------------------------------------------*/

.faq-title-block{
        .primary-title{
            text-transform: inherit;
            margin: 0;
        }
    }

/* Faq style */
.faq-block{
    padding: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320))) 0%;
    /* padding-top: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320))); */
    margin: 80px auto 0;
    padding-top: 0;


    .grid{

    /* accordion items */
    .accordion_item {
        width: 100%;
        height: auto;
        margin: 0;
        border-bottom: 1px solid $primary-color;
        margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
        padding: 0 calc(15px + (120 - 15) * ((100vw - 320px) / (1920 - 320)));

        &:first-child{
            border-top: 1px solid $primary-color;
        }

        .title_tab {
            width: 100%;
            color: #000;
            padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))) 30px;
            cursor: pointer;
            transition: background-color .3s ease-in;
            border-radius: 4px;
            padding-left: 0;
            padding-right: 0;

            &.active{
                .title{
                    .svg-icon{
                        &.plus{
                            &:after{
                                height: 0%;
                            }
                        }
                        img{
                            transform: rotate(-180deg);
                        }
                    }
                }

                + .inner_content{
                    display: block;
                    transition: all 0.6s;

                    > p{
                        opacity: 1;
                        transform: translate3d(0px, 0px, 0px);
                        transition: opacity 0.8s cubic-bezier(0, 0.99, 0.44, 1.01), transform 0.6s 0.1s cubic-bezier(0, 0.99, 0.44, 1.01);
                    }
                }
            }

            .title {
                font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1920 - 320)));
                color: #4a4a4a;
                position: relative;
                font-weight: 700;
                display: flex;
                justify-content: space-between;
                padding-right: 0;
                gap: 10px;
                transition: all 0.4s ease;

                .svg-icon{
                    width: calc(28px + (40 - 28) * ((100vw - 320px) / (1920 - 320)));
                    height: calc(28px + (40 - 28) * ((100vw - 320px) / (1920 - 320)));
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    //border: 1px solid #222;
                    flex: none;

                    &.plus{
                        position: relative;

                        &:before{
                            content: '';
                            width: 100%;
                            height: 1px;
                            background-color: $primary-color;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            transition: all 0.5s ease;
                        }
                        &:after{
                            content: '';
                            width: 1px;
                            height: 100%;
                            background-color: $primary-color;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            transition: all 0.5s ease;
                        }
                    }

                    img{
                        max-width: 40px;
                        position: relative;
                        transform: rotate(0deg);
                        transition: all 0.5s ease;
                    }
                }

                .icon {
                    position: absolute;
                    right: 1%;
                    top: calc(50% - 8px);
                    width: 16px;
                    height: 16px;
                    background-color: transparent;
                    transform: rotate(-90deg);
                    transition: transform 0.3s ease-in;

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        background-color: #000;
                        transition: all 0.5s ease;
                    }

                    &:before {
                        height: 2px;
                        width: 100%;
                        top: 50%;
                        left: 50%;
                        transform: rotate(0deg) translate(-50%, -50%);
                    }

                    &:after {
                        height: 100%;
                        width: 2px;
                        top: 50%;
                        left: 50%;
                        transform: rotate(0deg) translate(-50%, -50%);
                    }
                }
            }
        }
    }

    .inner_content {
        width: 100%;
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;

        .innder-grid{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320)));

            @include phone-767{
                flex-direction: column;
            }

            .inner-col{
                display: flex;
                flex-direction: column;
                max-width: 460px;
                width: 100%;

                @include phone-767{
                    flex-direction: column;
                }

                .single-box{
                    display: flex;
                    align-items: center;
                    gap: calc(15px + (55 - 15) * ((100vw - 320px) / (1920 - 320)));
                    margin-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320)));

                    .svg-icon{
                        .circle{
                            width: calc(70px + (130 - 70) * ((100vw - 320px) / (1920 - 320)));
                            height: calc(70px + (130 - 70) * ((100vw - 320px) / (1920 - 320)));
                            background-color: #fff;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img{
                                max-height: calc(30px + (75 - 30) * ((100vw - 320px) / (1920 - 320)));
                            }

                            span{
                                text-align: center;
                                font-weight: 700;
                                @include primary-font;

                                @include phone-767{
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    .text{
                        @include primary-font;
                        font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (1920 - 320)));
                        width: 100%;
                        line-height: 1.4;
                    }
                }
            }
        }
    }

    /* ================================= */

    .accordion_item {
        .title_tab {
            &.active {
                .title .icon {
                    transition: transform .3s ease-in;

                    &::before{
                        transition: all 0.5s ease;
                        transform-origin: bottom;
                        width: 0;
                    }
                }
                transition: background-color .3s ease-in;
            }

            &:hover {
                transition: background-color .3s ease-in;
            }
        }

        .inner_content p.show {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
            transition: opacity 0.8s cubic-bezier(0, 0.99, 0.44, 1.01), transform 0.6s 0.1s cubic-bezier(0, 0.99, 0.44, 1.01);
        }
    }
    }
}