/*------------------------------------------------------------------------------------

 =============================================================================
 Filename: _homepage.scss
 =============================================================================

 Styles should be compiled using gulp task management.
 ----------------------------------------------------------------------------------*/


 /********************** Homepage header style ***********************
 -------------------------------------------------------------------*/

.header-wrapper {
    #navbar {
        display: flex;
        justify-content: space-between;

        .part-one,
        .part-two {
            flex-basis: 33.3%;
        }
    }
}